<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3">
        <i class="fas fa-user-plus"></i> Rejestracja
      </h1>
      <% include ('./partials/messages.ejs')%>
      <form action="/users/register" method="POST">
        <div class="form-group">
          <label for="name">Imie</label>
          <input
            type="name"
            id="name"
            name="name"
            class="form-control"
            placeholder="Imie"
            value="<%= typeof name != 'undefined' ? name : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="surname">Nazwisko</label>
          <input
                  type="name"
                  id="surname"
                  name="surname"
                  class="form-control"
                  placeholder="Nazwisko"
                  value="<%= typeof name != 'undefined' ? name : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            placeholder="Email"
            value="<%= typeof email != 'undefined' ? email : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            placeholder="Haslo"
          />
        </div>
        <button type="submit" class="btn btn-primary btn-block">
          Zarejestruj się
        </button>
      </form>
    </div>
  </div>
</div>
